@page
@model AThingModel
@{
    ViewData["Title"] = "I don't want to miss a thing";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<html lang="en">
<head>
<title>Wham! Lyrics - Memories</title>
<img src="~/images/AThing.jpg" width="480px" />
<script type="text/javascript"> ArtistName = "Aerosmith"; SongName = "I don't want to miss a thing"; </script>
</head>
<body>
<!-- content -->
<div class="div-share"><h1>"I don't want to miss a thing" lyrics</h1></div>
<div class="lyricsh">
<h2><b>Wham! Lyrics</b></h2>
</div>
<br />
<b>"I don't want to miss a thing"</b><br>
<div>
<!-- Usage of azlyrics.com content by any third-party lyrics provider is …-->
<i>
I could stay awake just to hear you breathing.<br/>
Watch you smile while you're sleeping.<br/>
While you're far away & dreaming.<br/>
I could spend my life in this sweet surrender.<br/>
I could stay last in this moment forever.<br/>
Every moment spent with you is a moment I treasure.<br/>
I don't wanna close my eyes.<br/>
I don't wanna fall asleep.<br/>
'Cause I'd miss you,baby.<br/>
And I don't wanna miss a thing.<br/>
'Cause even when I dream of you.<br/>
The sweetest dream will never do.<br/>
I'd still miss you,baby.<br/>
And I don't want to miss a thing.<br/>
Lying close to you feeling your heart beating.<br/>
And I'm wondering what you're dreaming.<br/>
Wondering if it's me you're seeking.<br/>
When I kiss your eyes & thank God we're together.<br/>
And I just wanna stay with you.<br/>
In this moment forever,forever & ever.<br/>
I don't wanna close my eyes.<br/>
I don't wanna fall asleep.<br/>
'Cause I'd miss you,baby.<br/>
And I don't wanna miss a thing.<br/>
'Cause even when I dream of you.<br/>
The sweetest dream will never do.<br/>
I'd still miss you,baby.<br/>
And I don't want to miss a thing.<br/>
I don't wanna miss one smile.<br/>
I don't wanna miss one kiss.<br/>
Well,I just wanna be with you.<br/>
Right here with you,just like this.<br/>
I just wanna hold you close.<br/>
Feel your heart so close to mine.<br/>
And just stay here in this moment.<br/>
For all the rest of time.<br/>
I don't wanna close my eyes.<br/>
I don't wanna fall asleep.<br/>
'Cause I'd miss you,baby.<br/>
And I don't wanna miss a thing.<br/>
'Cause even when I dream of you.<br/>
The sweetest dream will never do.<br/>
I'd still miss you,baby.<br/>
And I don't want to miss a thing.<br/>
I don't wanna close my eyes.<br/>
I don't wanna fall asleep.<br/>
'Cause I'd miss you,baby.<br/>
And I don't wanna miss a thing.<br/>
'Cause even when I dream of you.<br/>
The sweetest dream will never do.<br/>
I'd still miss you,baby.<br/>
And I don't want to miss a thing.<br/>
Don't wanna close my eyes.<br/>
I don't wanna fall asleep,yeah<br/>
Don't wanna miss a thing. <br/>
<br>
<!-- <div class="smt"><small>Writer(s): George Michael</small> -->
<br>
</div>
</body>
</html>
