@page
@model FHMModel
@{
    ViewData["Title"] = "FHMModel";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<html lang="en">
<head>
<title>Wham! Lyrics - 500miles</title>
<img src="~/images/500miles.jpg" width="480px" />
<script type="text/javascript"> ArtistName = "Hedy West"; SongName = "Memories"; </script>
</head>
<body>
<!-- content -->
<div class="div-share"><h1>"500miles" lyrics</h1></div>
<div class="lyricsh">
<h2><b>Wham! Lyrics</b></h2>
</div>
<br />
<b>"500miles"</b><br>
<div>
<!-- Usage of azlyrics.com content by any third-party lyrics provider is …-->
<i>
If you miss the train I'm on<br/>

You will know that I am gone<br/>

You can hear the whistle blow a hundred miles<br/>

A hundred miles a hundred miles<br/>

A hundred miles a hundred miles<br/>

You can hear the whistle blow a hundred miles<br/>

Lord I'm one Lord I'm two Lord<br/>

I'm three Lord I'm four Lord<br/>

I'm five hundred miles a way from home<br/>

Away from home away from home<br/>

Away from home away from home<br/>

Lord I'm five hundred miles away from home<br/>

Not a shirt on my back<br/>

Not a penny to my name<br/>

Lord I can't go back home this-a way<br/>

This-a way this-a way<br/>

This-a way this-a way<br/>

Lord I can't go back home this-a way<br/>

If you miss the train I'm on<br/>

You will know that I am gone<br/>

You can hear the whistle blow a hundred miles<br/>

A hundred miles a hundred miles<br/>

A hundred miles a hundred miles<br/>

You can hear the whistle blow a hundred miles<br/>

You can hear the whistle blow a hundred miles<br/>
<br>
<!-- <div class="smt"><small>Writer(s): George Michael</small> -->
<br>
</div>
</body>
</html>
