@page
@model MemoriesModel
@{
    ViewData["Title"] = "Memories";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<html lang="en">
    <head>
        <title>Wham! Lyrics - Memories</title>
        <img src="~/images/Memories.jpg" width="480px" />
        <script type="text/javascript"> ArtistName = "Within Temptation"; SongName = "Memories"; </script>
    </head>
    <body>
        <div class="div-share"><h1>"Memories" lyrics</h1></div>
            <div class="lyricsh">
                <h2><b>Wham! Lyrics</b></h2>
            </div>
                <br />
                <b>"Memories"</b><br/>
                <div>
                    In this world you tried<br/>
                    Not leaving me alone behind.<br/>
                    There's no other way.<br/>
                    I prayed to the gods let him stay.<br/>
                    The memories ease the pain inside,<br/>
                    Now I know why.<br/>
                    All of my memories keep you near.<br/>
                    In silent moments imagine you here.<br/>
                    All of my memories keep you near.<br/>
                    Your silent whispers, silent tears.<br/>
                    Made me promise I'd try<br/>
                    To find my way back in this life.<br/>
                    I hope there is a way<br/>
                    To give me a sign you're ok.<br/>
                    Reminds me again it's worth it all<br/>
                    So I can go on.<br/>
                    All of my memories keep you near.<br/>
                    In silent moments imagine you here.<br/>
                    All of my memories keep you near.<br/>
                    Your silent whispers, silent tears.<br/>
                    Together in all these memories<br/>
                    I see your smile.<br/>
                    All the memories I hold dear.<br/>
                    Darling, you know I will love you<br/>
                    Until the end of time.<br/>
                    All of my memories keep you near.<br/>
                    In silent moments imagine you here.<br/>
                    All of my memories keep you near.<br/>
                    Your silent whispers, silent tears.<br/>
                    All of my memories....<br/>
                <br>
                <!-- <div class="smt"><small>Writer(s): George Michael</small> -->
                <br>
            </div>
        </div>
    </body>
</html>
